# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
*.bak
.vscode-upload.json
.vscode/
build/debug.nsi
build/debug_cmm.nsi
build/make.exe
build/nsis_contrib/ResourceHacker.ini
build/shark*.exe
build/shark_context_menu_manager.exe
config/
modules/clink
modules/clink-completions
modules/conemu
modules/conemu-maximus5
modules/consolez
modules/cygwin
modules/free-programming-fonts
modules/git
modules/gow
modules/php
modules/powerline-fonts
modules/putty
Thumbs.db
_right click/
