*.bak
.vscode-upload.json
build/debug.nsi
build/debug_cmm.nsi
build/make.exe
build/nsis_contrib/ResourceHacker.ini
build/shark.exe
build/shark_context_menu_manager.exe
config/
modules/clink
modules/clink-completions
modules/conemu
modules/conemu-maximus5
modules/consolez
modules/cygwin
modules/free-programming-fonts
modules/git
modules/gow
modules/php
modules/powerline-fonts
modules/putty
Thumbs.db
_right click/
.vscode/bookmarks.json